$footerHeight: 50px;

.search-bar {
    height: calc(100vh - $footerHeight);
    padding-bottom: $footerHeight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 576px){
        min-height: 375px;
    }
    @media (max-width: 575px){
        min-height: 200px;
    }
    .img-fluid {
        max-width: 70%;
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}