.list-group-item {
    background-color: transparent;

    .group-title {
        opacity: 0.45;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
}